  <!doctype html>
  <html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
      <link href="./styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <main>
          <ul>
              {% for entry in data %}
                  <li><a href="./songlist/{{ entry.id }}">{{ entry.id }}</a></li>
              {% endfor %}
          </ul>

      </main>
  </body>
  </html>
