  <!doctype html>
  <html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
      <style>
          body {
              margin: 0;
          }

          main {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: #282828;
              font-family: Baloo Tamma, cursive;
          }

          span {
             font-size: 5vw;
          }

          em {
              font-size: 1.5vw;
          }

      </style>
  </head>
  <body>
      <main>
          <h1> Songs for {{ channel }}</h1>
          <ul>
              {% for key, value in songs %}
                <li>
                    {{ key }}
                    <ul>
                        {% for song in value %}
                            <li><a href="{{ song }}">{{ song }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              {% endfor %}
          </ul>
      </main>
  </body>
  </html>
